{
    "root": true,
    "env": {
        "jest/globals": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "jest",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-console": 1,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "jest/no-disabled-tests": 1,
        "jest/no-focused-tests": 2,
        "jest/no-identical-title": 2,
        "jest/prefer-to-have-length": 1,
        "jest/valid-expect": 2
    }
}